.App {
  position: relative;
  width: 100%;
}

.vis-item.myVideoItem {
  /* background-color: gray !important; */
  /* color: white; */
  /* height: 100%; */
  /* top: 0 !important; */
}

.vis-item .vis-item-content {
  transform: translateX(0px);
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.vis-item.myVideoItem {
  padding: 5px;
  background-color: lightblue !important;
}

.vis-timeline {
  background-color: white !important;
  color: white;
  cursor: default;
  /* overflow: scroll !important; */
  /* visibility: unset !important; */
}

.timeline {
  margin-top: 200px;
  z-index: 9;
  position: relative;
  cursor: pointer;
  /* height: 300px; */
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-ds-selector {
  cursor: default;
  background: none !important;
  border: 1px dashed blue !important;
}
.vis-item.myVideoItem.ds-selected {
  background: green !important;
}
.vis-text.vis-minor {
  text-align: center;
  display: flex;
  justify-content: center;
}

.minorThing {
  width: 2px;
  height: 15px;
  background: red;
}

/* .vis-text {
  border: 1px solid red;
} */

.rct-outer {
  height: 80px !important;
}

#mytooltip {
  /* transform: unset !important; */
  /* top: -50px !important; */
}

.customTime {
  /* transition: 0s linear !important; */
}
